<div class="row">
  <div class="col-md-12">
    <div class="about card">
      <div class="logo-about animated slideInLeft">
        <img  class="animated infinite bounce delayHalfs" src="../../../img/logo.png" alt="Smiley face" height="120" width="100">
      </div>
      <h2 class="about-header animated slideInLeft"> ABOUT THE PROJECT </h2>
      <span>
          Where are people in the US Moving?
          People move every year but why do they move?
          Is there a specific demographic that is more likely to move?
          Is there some years that people move more?
          Are there regions in the US where more people are moving from?
          Is there any variation in regional flow?

          This project has several visualizations that answer these questions.
          From the data, we noticed that consistently the South was the region
          that most people were coming to and leaving. We also noticed that
          there were differences between each demographic, and that the number
          of people was not uniform. We also found out that two reasons that
          remained constant for why people moved was to establish their own household
          or they wanted a new or better home. Other questions can be added by
          diving into the application.

          There are 3 main pages in our application. On the first page there is
          a heat map that shows the current populations of each state in the
          United States. On the second page there is a Sankey diagram, bar chart,
          and a map visualization. On the map by clicking on a node, it shows people
          entering that region, and the corresponding people exiting that region.
          The Sankey diagram shows people entering and leaving by region as well
          as demographic data. The bar chart allows for  easier comparison of the data.
          On the third page there is a bubble chart that shows the Reasons for why
          people move that is filterable by demographic.
        <div class="thank">Thank You For Visiting Our Website!<div>
      </span>
    </div>
  </div>
</div>
