<div class="row">
  <div class="col-md-12">
    <div class="about card">
      <div class="logo-about animated slideInLeft">
        <img  class="animated infinite bounce delayHalfs" src="../../../img/logo.png" alt="Smiley face" height="120" width="100">
      </div>
      <h2 class="about-header animated slideInLeft"> ABOUT THE PROJECT </h2>
      <span>
        Where are people in the US Moving?

        People move every year but why do they move? Is there a specific demographic that is more likely to move? Is there some years that people move more? This website has several information visualizations showing the Migrations Patterns of People in the US by Region that will hopefully answer these questions and more .The next pages’ visualization dashboard will give a more detailed overview on how people are moving region to region, why they are moving, and the demographics of the people moving. We hope that after viewing it you a a clear idea on how people have been moving in the US for over decade.

        The first page’s heat map shows projected population of 2016 to help give a general overview of the population centers in the US.

        This page is about how people move from region to region. Feel free to change the year by clicking the timeline at the top. The map shows the amount of people entering a region. Click on a bubble to get more information.

        The Sankey digram is filterable by demographic, and shows people leaving and entering a region.To filter by demographic select demographic from the selection box. Hover over a link to get more information.

        The bar graph shows both people entering and leaving a region(It’s numbers are in the thousands).

        Numbers are in the thousands

        This page is about the reasons for why people move. The star plot shows each reason and the bubble plot allows filtering by demographic. Hovering over a dot will highlight the corresponding bubble or bubbles in the bubble plot and show the corresponding values. To filter by demographic select demographic from the selection box.

        The star plot shows each reason where as the bubble chart also allows filtering by demographic data.
        <div class="thank">Thank You For Visiting Our Website!<div>
      </span>
    </div>
  </div>
</div>
