<div class="col-md-5 push-left animated fadeInLeftBig">
  <h1 class="year-label">{{$ctrl.service.sharedYear}}</h1>
  <div class='flowmap card'>
    <h5 class="graph-header">Migration Flows Between Regions</h5>
    <i class="fa fa-magic fa-lg graph-icon" aria-hidden="true">
      <span class="tooltiptext">
        <b>Intsruction</b></br></br>
        You can hover over each bubble which will show how many people migrated
        between regions based on <b>census</b> data. You can also click on each
        bubble to see more clear migration flows between regions. It will interact
        with the other graphs.
      </span>
    </i>
  </div>
</div>
