<!DOCTYPE html>
<style>
body {
  width: 960px;
  margin: auto;
  font-family: Arial;
}
#target {
  margin: 40px 0;
}
.wrapper {
  position: relative;
  display: inline-block;
}
.chart {
  margin-bottom: 40px;
}
.star-title {
  font-size: 14px;
}
.star-label {
  font-size: 11px;
  pointer-events: none;
}
.star-origin {
  fill: #333;
}
.star-axis {
  stroke: #ccc;
  stroke-width: 2px;
  stroke-dasharray: 4 5;
}
.star-path {
  stroke: #444;
  stroke-width: 2px;
  fill: #709CB1;
  fill-opacity: 0.6;
}
</style>

<html>
<body>
<script src="http://d3js.org/d3.v3.min.js"></script>
<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="d3-starPlot.js"></script>
<script src="https://www.gstatic.com/firebasejs/3.5.0/firebase.js"></script>
<script>
  // Initialize Firebase
  // TODO: Replace with your project's customized code snippet
  var config = {
    apiKey: "AIzaSyC188Gz-CiFIHxtHTRWq6P6EGgoRXWhs9s",
    authDomain: "iwizviz.firebaseapp.com",
    databaseURL: "https://iwizviz.firebaseio.com",
    storageBucket: "iwizviz.appspot.com",
    messagingSenderId: "798546455729",
  };
  firebase.initializeApp(config);

  var database = firebase.database();
  
  // ****Practice Code 1****
  //
  // var ref = firebase.database().ref("Migration Flows Between Regions/");

  // ref.on("value", function(snapshot){
  //  console.log(snapshot.val());
  // }, function (error){
  //  console.log("Error:"+error.code);
  // });

//****Practice Code 2****
//
// var ref = firebase.database().ref("Migration Flows Between Regions/2011/From Midwest/South/1/Educational Attainment");
// ref.on("value", function(snapshot){
//   var value = snapshot.val();
//   console.log(value["High school graduate"]);
// }, function(error) {
//   console.log("Error:" + error.code);

// });

//****Practice Code 3****

// var ref = firebase.database().ref("Migration Flows Between Regions/2011/From Midwest/South");
// console.log(ref)

// ref.on("value", function(snapshot){
//   var value = snapshot.val();
//   console.log(value['Type1'].Age['1 to 4']);
//   console.log(value['Type1']["Educational Attainment"]["High school graduate"]);
//   console.log(value['Type2']);
// }, function (error){
//   console.log("Error: " + error.code);

// })

//****Practice Code 4****
// Starplot example

// Global variables
year = 2011
fieldNames =
[
  'Change in marital status',
  'Change of climate',
  'Health reasons',
  'New job or job transfer',
  'Other family reason',
  'Other housing reason',
  'Other job related reason',
  'Other reasons',
  'Retired'
]
dataMin = 0
dataMax = 4000
targetDivId = '#target'

// Represents data to plot.
var object = {}
for(var i = 0; i < fieldNames.length; ++i)
{
  object[fieldNames[i]] = i % 2
}
object['Title'] = "Data for " + year

function myStarPlot()
{
  // Formatting
  var scale = d3.scale.linear()
    .domain([dataMin, dataMax])
    .range([0, 100])
  var margin =
  {
    top: 100,
    right: 100,
    bottom: 50,
    left: 100
  };
  var width = 450 - margin.left - margin.right;
  var height = 450 - margin.top - margin.bottom;
  var labelMargin = 15;
  // Star plot object
  var star = d3.starPlot()
    .width(width)
    .properties(fieldNames)
    .scales(scale)
    .labels(fieldNames)
    .title(function(d) { return d['Title']; })
    .margin(margin)
    .labelMargin(labelMargin)
    .includeLabels(true)
  // Call star plot obect
  d3.csv('').get(function(error, rows) // I don't know why thisv line is needed.
  {
    var wrapper = d3.select(targetDivId).append('div')
      .attr('class', 'wrapper')
    var svg = wrapper.append('svg')
      .attr('class', 'chart')
      .attr('width', width + margin.left + margin.right)
      .attr('height', width + margin.top + margin.bottom)
    var starG = svg.append('g')
      .datum(object)
      .call(star)
  });
}
var numData = 0
function plotNewDataPoint(reason)
{
  var path = "Reason for Move/" + year + "/" + reason
  var reasons = firebase.database().ref(path)
  reasons.on("value", function(snapshot)
  {
    var value = snapshot.val()
    total = +value.Total.replace(',', '')
    object[reason] = total
    numData += 1
    if(numData === fieldNames.length)
    {
      myStarPlot()
    }
  }, function(error) { console.log("Error: " + error.code); })
}
function plotDataPoints()
{
  for(var i = 0; i < fieldNames.length; ++i)
  {
    plotNewDataPoint(fieldNames[i])
  }
}

plotDataPoints()

</script>
<div id='target'></div>
</body>



</html>