.link {
  fill: none;
  stroke-opacity: .4;
}
.link:hover {
  stroke-opacity: 0.8;
}

.demogr-label {
  font-size: 14px;
  color: rgb(151, 181, 181);
}

.demogr-form {
  text-align: left;
  margin-left: 10px;
  color: rgb(151, 181, 181);
  border-radius: 0;
}

.demogr-select {
  border: none;
  font-size: 14px;
  /*border-radius: 0;*/
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
  padding: 2px 20px 2px 20px;
  background: #F9FCFE;
  outline: none;
  border: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  box-shadow: 3px 4px 6px 0px rgba(46,61,73,0.15);
}

@media (min-width: 1919px) {
  .sankey-diagram {
    height: 800px;
  }
}
/* large desktops and laptops */
@media (min-width: 1200px) and (max-width: 1919px) {
  .sankey-diagram {
    height: 570px;
  }

}
/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
  .sankey-diagram {
    height: 480px;
  }
}
/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
  .sankey-diagram {
    height: 530px;
  }
}
/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
  .sankey-diagram {
    height: 530px;
  }
}
