.link {
  fill: none;
  stroke: #002;
  stroke-opacity: .2;
}
.link:hover {
  stroke-opacity: .5;
}

.demogr-label {
  font-size: 14px;
  color: rgb(151, 181, 181);
}

.demogr-form {
  text-align: center;
  color: rgb(151, 181, 181);
}

.demogr-select {
  border: none;
  box-shadow: 3px 4px 6px 0px rgba(46,61,73,0.15);
  background: #F9FCFE;
  outline: none;
  border: none;
}

.demogr-select option {
  background: #F9FCFE;
}

@media (min-width: 1919px) {
  .sankey-diagram {
    height: 800px;
  }
}
/* large desktops and laptops */
@media (min-width: 1200px) and (max-width: 1919px) {
  .sankey-diagram {
    height: 540px;
  }

}
/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
  .sankey-diagram {
    height: 480px;
  }
}
/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
  .sankey-diagram {
    height: 530px;
  }
}
/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
  .sankey-diagram {
    height: 530px;
  }
}
