@media (min-width: 1919px) {
  .flowmap {
    height: 480px;
  }
  .flowmap .map {
    margin-top: -30px;
    margin-left: -30px;
  }
  .flowmap .legend {
    position: absolute;
    right: 30px;
    bottom: 80px;
  }
}
/* large desktops and laptops */
@media (min-width: 1200px) and (max-width: 1919px) {
  .flowmap {
    height: 360px;

  }
  .flowmap .map {
    margin-top: -30px;
    margin-left: -30px;
  }
  .flowmap .legend {
    position: absolute;
    right: 30px;
    bottom: 60px;
  }
}
/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
  .flowmap {
    height: 340px;
  }
  .flowmap .map {
    margin-top: -30px;
    margin-left: -30px;
  }
  .flowmap .legend {
    position: absolute;
    right: 30px;
    bottom: 50px;
  }
}
/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
  .isidebar-list {
    width: 200px;
  }
  .isidebar-list li a {
     font-size: 14px;
  }
  .isidebar-list li .active {
     width: 210px;
  }
  .flowmap {
    height: 220px;
  }
  .flowmap .map {
    margin-top: -30px;
    margin-left: -20px;
  }
  .flowmap .legend {
    position: absolute;
    right: 30px;
    bottom: 30px;
  }
}
/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
  .isidebar-wrapper {
    display: none;
  }
  .flowmap {
    height: 280px;
  }
  .flowmap .map {
    margin-top: -30px;
    margin-left: -20px;
  }
  .flowmap .legend {
    position: absolute;
    right: 30px;
    bottom: 40px;
  }
}
