table {
  margin-left: 15%;
  box-shadow: 12px 15px 20px 0px rgba(46,61,73,0.15);
  background: -webkit-linear-gradient(left, #25b7c4, #70DCDC);
}

.hcol {
  width: 240px;
}

tr {
  height: 35px;
}

th, td {
  font-weight: bold;
  width: 100px;
}

.colhead {
  color: #25b7c4;
  font-size: 12px;
}

th {
  text-align: center;
  color: #fff;
}

tbody {
  text-align: center;
  background-color: #fff;
  color: rgb(151, 181, 181);
}

@media (min-width: 1901px) {
  body, html {
    overflow-y: scroll;
  }

  table {
    margin-top: 3px;
    margin-left: 15%;
    width: 83%;
  }

  .hcol {
    width: 320px;
  }

  tr.top-row {
    font-size: 22px;
  }

  tr.bottom-row {
    font-size: 14px;
  }
}

@media (min-width: 1200px) and (max-width: 1900px) {
  body {
    overflow-y: visible;
  }
  table {
    margin-top: 6px;
    margin-left: 22%;
    width: 76%;
    overflow-y: visible;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  table {
    margin-left: 28%;
    width: 72%;
  }
}

@media (max-width: 767px) {
}
