table {
  margin-top: 2px;
  margin-left: 265px;
  width: 200px;
  box-shadow: 12px 15px 20px 0px rgba(46,61,73,0.15);
  background: -webkit-linear-gradient(left, #25b7c4, #70DCDC);
}

.hcol {
  width: 240px;
}

.tcol {
  width: 60px;
}

tr {
  height: 35px;
}

th, td {
  /*padding: 0 5px 0 5px;*/
  font-weight: bold;
  width: 100px;
}

tr.top-row {
  font-size: 16px;
}

tr.bottom-row {
  font-size: 12px;
}

tr.top-row, .bottom-row {
  /*border-bottom: 1px solid #fff;*/
}

.wall {
  /*border-right: 1px solid #fff;*/
}

.colhead {
  color: #25b7c4;
  /*background: #25b7c4;*/
  font-size: 12px;
}

th {
  text-align: center;
  color: #fff;
}

tbody {
  text-align: center;
  background-color: #fff;
  color: rgb(151, 181, 181);
}

/*::-webkit-scrollbar {
width: 6px;
}
::-webkit-scrollbar-track {
-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
::-webkit-scrollbar-thumb {
-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}*/
