<div id="radios">
    <input id="option1" name="options" type="radio">
    <label for="option1">2000</label>
    <input id="option2" name="options" type="radio" checked>
    <label for="option2">2001</label>
    <input id="option3" name="options" type="radio">
    <label for="option3">2002</label>
    <input id="option4" name="options" type="radio">
    <label for="option4">2003</label>
    <input id="option5" name="options" type="radio">
    <label for="option5">2004</label>
    <input id="option6" name="options" type="radio">
    <label for="option6">2005</label>
    <input id="option7" name="options" type="radio">
    <label for="option7">2006</label>
    <input id="option8" name="options" type="radio">
    <label for="option8">2007</label>
    <input id="option9" name="options" type="radio">
    <label for="option9">2008</label>
    <input id="option10" name="options" type="radio">
    <label for="option10">2009</label>
    <input id="option11" name="options" type="radio">
    <label for="option11">2010</label>
    <input id="option12" name="options" type="radio">
    <label for="option12">2011</label>
    <input id="option13" name="options" type="radio">
    <label for="option13">2012</label>
    <input id="option14" name="options" type="radio">
    <label for="option14">2013</label>
    <input id="option15" name="options" type="radio">
    <label for="option15">2014</label>
    <input id="option16" name="options" type="radio">
    <label for="option16">2015</label>
</div>
