<!-- Sidebar -->
<div class="isidebar-wrapper">
  <ul class="isidebar-list">
    <li>
      <a ui-sref="home" ui-sref-active="active" class="active"><i class="fa fa-home" aria-hidden="true"></i>Home</a>
    </li>
    <li>
      <a ui-sref="flowmap" ui-sref-active="active" href="#"><i class="fa fa-area-chart" aria-hidden="true"></i>Dashboard</a>
    </li>
    <li>
      <a ui-sref="table" ui-sref-active="active" href="#"><i class="fa fa-table" aria-hidden="true"></i>Tables</a>
    </li>
    <li>
      <a href="#"><i class="fa fa-info-circle" aria-hidden="true"></i>About</a>
    </li>
  </ul>
  <div class="line"></div>
  <div class="social text-center">
    <a href="https://www.facebook.com"><i class="fa fa-facebook fa-lg" aria-hidden="true"></i></a>
    <a href="https://www.twitter.com"><i class="fa fa-twitter fa-lg" aria-hidden="true"></i></a>
    <a href="https://www.gmail.com"><i class="fa fa-envelope fa-lg" aria-hidden="true"></i></a>
  </div>
</div>
