<!-- Sidebar -->
<div class="isidebar-wrapper">
  <ul class="isidebar-list">
    <li>
      <a href="#" class="active"><i class="fa fa-home" aria-hidden="true"></i>Home</a>
    </li>
    <li>
      <a href="#"><i class="fa fa-area-chart" aria-hidden="true"></i>Dashboard</a>
    </li>
    <li>
      <a href="#"><i class="fa fa-table" aria-hidden="true"></i>Tables</a>
    </li>
    <li>
      <a href="#"><i class="fa fa-info-circle" aria-hidden="true"></i>About</a>
    </li>
  </ul>
  <div class="line"></div>
  <div class="social text-center">
    <a href="#"><i class="fa fa-facebook fa-2x" aria-hidden="true"></i></a>
    <a href="#"><i class="fa fa-twitter fa-2x" aria-hidden="true"></i></a>
    <a href="#"><i class="fa fa-envelope fa-2x" aria-hidden="true"></i></a>
  </div>
</div>
