<table class="table">
  <thead>
    <tr class="top-row">
      <th class="wall"><div class="hcol"></div></th>
      <th><div class="tcol"></div></th>
      <th><div class="tcol">Northeast</div></th>
      <th class="wall"><div class="tcol"></div></th>

      <th><div class="tcol"></div></th>
      <th><div class="tcol">Midwest</div></th>
      <th class="wall" ><div class="tcol"></div></th>

      <th><div class="tcol"></div></th>
      <th><div class="tcol">South</div></th>
      <th class="wall" ><div class="tcol"></div></th>

      <th><div class="tcol"></div></th>
      <th><div class="tcol">West</div></th>
      <th><div class="tcol"></div></th>
    </tr>
    <tr class="bottom-row">
      <th></th>

      <th>Midwest</th>
      <th>South</th>
      <th>West</th>

      <th>Northeast</th>
      <th>South</th>
      <th>West</th>

      <th>Northeast</th>
      <th>Midwest</th>
      <th>West</th>

      <th>Northeast</th>
      <th>Midwest</th>
      <th>South</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="type in types">
      <td>{{type.a}}</td>
      <td class="wall" ><div class="tcol"></div></td>
      <td class="wall"><div class="tcol"></div></td>
      <td class="wall"><div class="tcol"></div></td>
      <td class="wall"><div class="tcol"></div></td>
      <td class="wall"><div class="tcol"></div></td>
      <td class="wall"><div class="tcol"></div></td>
      <td class="wall"><div class="tcol"></div></td>
      <td class="wall"><div class="tcol"></div></td>
      <td class="wall"><div class="tcol"></div></td>
      <td class="wall"><div class="tcol"></div></td>
      <td class="wall"><div class="tcol"></div></td>
      <td class="wall"><div class="tcol"></div></td>
    </tr>
  </tbody>
</table>
